include  ../common/_header.pug
- const types = ['Coffee', 'Tea', 'Dessert']
- 
    const items = {
            coffee : [
                {
                    name: 'Irish coffee',
                    description: 'Fragrant black coffee with Jameson Irish whiskey and whipped milk',
                    price: '$7.00'
                },
                {
                    name: 'Kahlua coffee',
                    description: 'Classic coffee with milk and Kahlua liqueur under a cap of frothed milk',
                    price: '$7.00'                    
                },
                {
                    name: 'Honey raf',
                    description: 'Espresso with frothed milk, cream and aromatic honey',
                    price: '$5.50'                    
                },
                {
                    name: 'Ice cappuccino',
                    description: 'Cappuccino with soft thick foam in summer version with ice',
                    price: '$5.00'                    
                },
                {
                    name: 'Espresso',
                    description: 'Classic black coffee',
                    price: '$4.50'                    
                },
                {
                    name: 'Latte',
                    description: 'Espresso coffee with the addition of steamed milk and dense milk foam',
                    price: '$5.50'                    
                },
                {
                    name: 'Latte macchiato',
                    description: 'Espresso with frothed milk and chocolate',
                    price: '$5.50'                    
                },
                {
                    name: 'Coffee with cognac',
                    description: 'Fragrant black coffee with cognac and whipped cream',
                    price: '$6.50'                    
                }
            ],
            tea: [
                {
                    name: 'Moroccan',
                    description: 'Fragrant black tea with the addition of tangerine, cinnamon, honey, lemon and mint',
                    price: '$4.50'                    
                },
                {
                    name: 'Ginger',
                    description: 'Original black tea with fresh ginger, lemon and honey',
                    price: '$5.00'                    
                },
                {
                    name: 'Cranberry',
                    description: 'Invigorating black tea with cranberry and honey',
                    price: '$5.00'                    
                },
                {
                    name: 'Sea buckthorn',
                    description: 'Toning sweet black tea with sea buckthorn, fresh thyme and cinnamon',
                    price: '$5.50'                    
                }
            ],
            dessert: [
                {
                    name: 'Marble cheesecake',
                    description: 'Philadelphia cheese with lemon zest on a light sponge cake and red currant jam',
                    price: '$3.50'                    
                },
                {
                    name: 'Red velvet',
                    description: 'Layer cake with cream cheese frosting',
                    price: '$4.00'                    
                },
                {
                    name: 'Cheesecakes',
                    description: 'Soft cottage cheese pancakes with sour cream and fresh berries and sprinkled with powdered sugar',
                    price: '$4.50'                    
                },
                {
                    name: 'Creme brulee',
                    description: 'Delicate creamy dessert in a caramel basket with wild berries',
                    price: '$4.00'                    
                },
                {
                    name: 'Pancakes',
                    description: 'Tender pancakes with strawberry jam and fresh strawberries',
                    price: '$4.50'                    
                },
                {
                    name: 'Honey cake',
                    description: 'Classic honey cake with delicate custard',
                    price: '$4.50'                    
                },
                {
                    name: 'Chocolate cake',
                    description: 'Cake with hot chocolate filling and nuts with dried apricots',
                    price: '$5.50'                    
                },
                {
                    name: 'Black forest',
                    description: 'A combination of thin sponge cake with cherry jam and light chocolate mousse',
                    price: '$6.50'                    
                }
            ]
        }
doctype html
html(lang='EN') 
    include  ../common/_head.pug
    body 
        +header(false)
        main 
            h1.menu-title Menu
            section.menu.container 
                h2 Behind each of our cups 
                    br
                    span.outdent hides an 
                    span.accent amazing surprise
                input.load-more(type="checkbox", title='Show more')  
                .menu-tabs 
                    .menu-tabs__controls 
                        each type in types 
                            if type === 'Coffee'
                                button(type='button').button.button-menu.active
                                    span(class=type).action=type
                            else
                                button(type='button').button.button-menu
                                    span(class=type).action=type
                    .menu-tabs__wrap
                        each products, category in items 
                            .tab(id=category)
                                each product, index in products
                                    .menu-card.zoom-out
                                        .card-image.zoom-out__wrapper
                                            img(src='./images/menu/' + category + '-' + (index + 1) + '.png', alt=product.name)
                                        .card-info
                                            h3.bold= product.name 
                                            p= product.description 
                                            p.price.bold= product.price
        include  ../common/_footer.pug    